<div class="row">
    <form #f="ngForm" class="col s12" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" 
          type="text" 
          class="validate" 
          name="nome"
          [ngModel]="usuario.nome">
          <label for="first_name">Nome</label>
        </div>
        <div class="input-field col s6">
            <input id="email" 
            type="email" 
            class="validate"
            name="email"
            [ngModel]="usuario.email" >
            <label for="email">Email</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" 
        type="submit" 
        name="action">enviar
            <!-- <i class="material-icons right">send</i> -->
          </button>
      </form>
  </div>
        
