
<nav>
  <div class="nav-wrapper">
    <!-- <a href="#" class="brand-logo right">Logo</a> -->
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li routerLinkActive="router-link-active" >
        <a href="/templateForm">Form - Template Driven</a>
      </li>
      <li routerLinkActive="router-link-active">
        <a href="/dataForm">Form - Data Driven</a>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="row">
    <div class="col s3">
     <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="./">home</a></li>
      <li><a href="./">Components</a></li>
      <li><a href="./">JavaScript</a></li>
    </ul>
    </div>
 </div> -->
<div class="container">
    <router-outlet></router-outlet>
</div>

 
