<div>
  <p>
    área de exibição
  </p>
  <table>
    <thead>
      <tr>
          <th>Nome'</th>
          <th>Item Nome</th>
          <th>item Preço</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Alvin</td>
        <td>Eclair</td>
        <td>{{ unitValor | currency:'BRL':true }}</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>Jellybean</td>
        <td>{{ unitValor | currency:'BRL':true }}</td>
      </tr>
      <tr>
        <td>Jonathan</td>
        <td>Lollipop</td>
        <td>{{ unitValor | currency:'BRL':true }}</td>
      </tr>
    </tbody>
  </table>
  <p>
    <a class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></a>
  </p>

    
</div>

